@keyframes changeTurn {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  50% {
    opacity: 0;
    transform: translateX(-20px);
  }

  51% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.changeTurn {
  animation: changeTurn 1s ease-in-out;
}


/* *****************************************************/


.card.flip {
  animation: flip 0.6s forwards;
}

@keyframes flip {
  0% { transform: rotateY(0); }
  50% { transform: rotateY(90deg); }
  100% { transform: rotateY(180deg); }
}

/* *****************************************************/

@keyframes scientistOfDeathEffect {
  0%, 7% {
    transform: rotateZ(0);
    filter: drop-shadow(3px 3px 30px #43dbdf);
  }
  15% {
    transform: rotateZ(-15deg);
    filter: drop-shadow(3px 3px 30px #43dbdf);
  }
  20% {
    transform: rotateZ(10deg);
    filter: drop-shadow(3px 3px 30px #43dbdf);
  }
  25% {
    transform: rotateZ(-10deg);
    filter: drop-shadow(6px 6px 45px #43dbdf);
  }
  30% {
    transform: rotateZ(6deg);
    filter: drop-shadow(6px 6px 45px #43dbdf);
  }
  35% {
    transform: rotateZ(-4deg);
    filter: drop-shadow(6px 6px 45px #43dbdf);
  }
  40%, 100% {
    transform: rotateZ(0);
    filter: drop-shadow(3px 3px 30px #43dbdf);
  }
}

  .scientistOfDeathEffect {
    animation: scientistOfDeathEffect 1.3s ease-in-out 2; 
}

/* *****************************************************/
@keyframes diabreteSombrioEffect {
  0%, 7% {
    transform: translateY(0);
    filter: drop-shadow(3px 3px 30px #1a0f20);
  }
  15% {
    transform: translateY(10px);
    filter: drop-shadow(3px 3px 30px #1a0f20);
  }
  20% {
   transform: translateY(0);
    filter: drop-shadow(3px 3px 30px #1a0f20);
  }
  25% {
    transform: translateY(-50px);
    filter: drop-shadow(6px 6px 45px #1a0f20);
  }
  30% {
    transform: translateY(-50px);
    filter: drop-shadow(6px 6px 45px #1a0f20);
  }
  35% {
    transform: translateY(-50px);
    filter: drop-shadow(6px 6px 45px #1a0f20);
  }
  40% {
    transform: translateY(-10px);
    filter: drop-shadow(3px 3px 30px #1a0f20);
  }
  50% {
    transform: translateY(-10px);
    filter: drop-shadow(3px 3px 30px #1a0f20);
  }
  100% {
    transform: translateY(0);
    filter: drop-shadow(3px 3px 30px #1a0f20);
  }
}


  .diabreteSombrioEffect {
    animation: diabreteSombrioEffect 1.3s ease-in-out 3; 
}

/* *****************************************************/

@keyframes heal {
0% {
filter: drop-shadow(2px 2px 15px darkgreen);
}

50% {
  filter: drop-shadow(100px 100px 150px darkgreen);
}

90% {
  filter: drop-shadow(200px 200px 300px darkgreen);
}
100% {
  filter: none;
}

}


@keyframes damage {
  0% {
    filter: drop-shadow(2px 2px 15px red);
    }
    
    50% {
      filter: drop-shadow(100px 100px 150px red);
    }
    
    90% {
      filter: drop-shadow(200px 200px 300px red);
    }
    100% {
      filter: none;
    }

}

.healingUnit {
  animation: heal 4s linear 1;
  animation-delay: 0.5s;
}

.damageUnit {
  animation: damage 4s linear 1;
  animation-delay: 0.5s;
}


